* {
    font-family: 'Roboto', Helvetica, sans-serif; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;   
}

nav {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

nav h2 {
    font-size: 24px;
    color: #f9faf8;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

ul li {
    list-style-type: none;
}

/* HERO Section */

main h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

main p {
    color: #e5e7eb;
    font-size: 18px;
}

main button {
    background-color: #3882f6;
    color: white;
    margin: 10px 0px;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}

#hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px 50px 200px;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.placeholder-image {
    display: flex;
    height: 300px;
    width: 50%;
}

/* Random Info Section */

.random-info {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.random-info h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 40px;
}

.section-images {
    display: flex;
}

.random-info-images {
    height: 50px;
    width: 50px;
    font-size: 17px;
    color: #1F2937;
}