* {
    font-family: 'Roboto', Helvetica, sans-serif; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;   
}

nav {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

nav h2 {
    font-size: 24px;
    color: #f9faf8;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

ul li {
    list-style-type: none;
}

/* HERO Section */

main {
    background-color: #1F2937;
    display: flex;
}

main h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

main p {
    color: #e5e7eb;
    font-size: 18px;
}

main button {
    background-color: #3882f6;
    color: white;
    padding: 5px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

#hero {
    display: flex;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
}

.placeholder-image {
    display: flex;
    height: auto;
    width: auto;
}